.typed-cursor{
    opacity: 1;
    font-weight: 100;
    color: #fff;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    top: -2px;
}
.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}
/* CSS Document */

